[include mainsail.cfg]

# This file contains common pin mappings for the BIGTREETECH Manta M8P
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# See docs/Config_Reference.md for a description of parameters.
#####################################################################################
#------------------------------------PRINTER----------------------------------------#
#####################################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_hurakan-if00
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

[respond]
default_type: command

[temperature_sensor CB1]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp
min_temp: 0
max_temp: 100

[temperature_sensor Manta]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 100

#####################################################################################
#------------------------------------MOVEMENT---------------------------------------#
#####################################################################################
[stepper_x]
step_pin: PE2
dir_pin: !PB4
enable_pin: !PC11
microsteps: 16
rotation_distance: 30.00187512
endstop_pin: PF3
position_endstop: 0
position_max: 238
homing_speed: 15

[stepper_y]
step_pin: PF12
dir_pin: !PF11
enable_pin: !PB3
microsteps: 16
rotation_distance: 11.94029851
endstop_pin: PF4
position_endstop: 0
position_max: 266
homing_speed: 15

[stepper_z]
step_pin: PD7
dir_pin: PD6
enable_pin: !PF10
microsteps: 16
rotation_distance: 3.162086582
endstop_pin: PF5
position_endstop: 0
position_max: 5
position_min: -330
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

# Motor4
# The M8P only has 4 heater outputs which leaves an extra stepper
# This can be used for a second Z stepper, dual_carriage, extruder co-stepper,
# or other accesory such as an MMU
#[stepper_]
#step_pin: PD3
#dir_pin: PD2
#enable_pin: PD5
#endstop_pin: PC0
#...

# Motor6
#[extruder1]
#step_pin: PA10
#dir_pin: PD15
#enable_pin: !PA15
#heater_pin: PB5 # HE1
#sensor_pin: PA2 # T1
#...

# Motor7
#[extruder2]
#step_pin: PD12
#dir_pin: PD11
#enable_pin: !PD14
#heater_pin: PB6 # HE2
#sensor_pin: PA3 # T2
#...

# Motor8
#[extruder3]
#step_pin: PD10
#dir_pin: PD8
#enable_pin: !PD9
#heater_pin: PE1 # HE3
#sensor_pin: PA4 # T3
#...


#####################################################################################
#------------------------------------Extruders--------------------------------------#
#####################################################################################
#NOT DONE
#[extruder material_0]
#step_pin: PD3
#dir_pin: PD2
#enable_pin: PD5
#microsteps: 16
#rotation_distance: 33.500
#nozzle_diameter: 0.4
#filament_diameter: 1.75
#heater_pin: PE3 
#sensor_type: Generic 3950
#control: pid
#min_temp: 0
#max_temp: 350

[filament_switch_sensor material_0]
switch_pin: PC6

[filament_switch_sensor material_1]
switch_pin: PA9

#####################################################################################
#------------------------------------HEATERS && FANS--------------------------------#
#####################################################################################
#NOT DONE
[heater_bed]
heater_pin: PB7
sensor_pin: PA0
sensor_type: EPCOS 100K B57560G104F
control: watermark
min_temp: 0
max_temp: 130

[heater_generic chamber_heater]
gcode_id: M141
heater_pin: PB6
sensor_pin: PA1
sensor_type: EPCOS 100K B57560G104F
control: watermark
min_temp: 0
max_temp: 75

[verify_heater chamber_heater]
#max_error: 120
check_gain_time:80
hysteresis: 5
heating_gain: 2

#[heater_fan heaters_fan]
#pin: PE6
#heater: extruder
#heater_temp: 50.0

[fan_generic left_fan]
pin: PC12
max_power: 1.0
#fan_speed: 1.0
#idle_timeout:600
#idle_speed:0.6
#heater:chamber_heater

[fan_generic right_fan]
pin: PE0
max_power: 1.0
#fan_speed: 1.0
#idle_timeout:600
#idle_speed:0.6
#heater:chamber_heater

#[heater_fan fan3]
#pin: PE5

#[heater_fan fan4]
#pin: PE4
#tachometer_pin: PC13

#[heater_fan fan5]
#pin: PB8
#tachometer_pin: PC14

#[heater_fan fan6]
#pin: PB9
#tachometer_pin: PC15

#####################################################################################
#------------------------------------TMC2209----------------------------------------#
#####################################################################################

[tmc2209 stepper_x]
uart_pin: PC10
#diag_pin: ^PF3
run_current: 1.4
stealthchop_threshold: 999999
#driver_SGTHRS: 150

[tmc2209 stepper_y]
uart_pin: PF13
#diag_pin: ^PF4
run_current: 1.4
stealthchop_threshold: 999999
#driver_SGTHRS: 150

[tmc2209 stepper_z]
uart_pin: PF9
#diag_pin: ^PF5
run_current: 0.8
stealthchop_threshold: 999999
#driver_SGTHRS: 30

##[tmc2209 extruder]
##uart_pin: PD4
##diag_pin: PC0
##run_current: 0.8
##stealthchop_threshold: 999999

#[tmc2209 extruder]
#uart_pin: PD0
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 extruder1]
#uart_pin: PF8
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 extruder2]
#uart_pin: PD13
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 extruder3]
#uart_pin: PC7
#run_current: 0.800
#stealthchop_threshold: 999999

#####################################################################################
#-------------------------------BED LEVELING PROBE----------------------------------#
#####################################################################################
#NOT DONE
[probe]
pin: ^PB1
z_offset: 5.968 #Measure per your specific setup
x_offset: 6 # negative = left of the nozzle
y_offset: 35 # negative = in front of of the nozzle
speed: 5.0
lift_speed: 15.0
sample_retract_dist: 1
samples: 2
samples_tolerance_retries: 6

[bed_mesh]
speed: 300
horizontal_move_z: 6
mesh_min: 8,30
mesh_max: 223,201
probe_count: 7,7
relative_reference_index: 12
algorithm: bicubic
fade_start: 1
fade_end: 10
#fade_target:
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
split_delta_z: 0.015
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
move_check_distance: 3
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 4,4
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.

[gcode_macro AUTO_BED_MESH]
gcode:
    G28
    PROBE_OUT
    BED_MESH_CALIBRATE
    G1 Y0 F20000
    PROBE_IN

[gcode_macro PROBE_OUT]
gcode:
    G90
    G1 Z6.5
    G1 X245 F20000
    G1 Z0
    G4 P300
    G1 Z20
    G1 X0

[gcode_macro PROBE_IN]
gcode:
    G90
    G1 Z20
    G1 X245 F20000
    G1 Z0
    G4 P300
    G1 X235 F1000
    G1 Z5
    G4 P300
    G1 X0 F20000
    G1 Z0

#####################################################################################
#------------------------------------OTHER PINS-------------------------------------#
#####################################################################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE9, EXP1_2=PE10,
    EXP1_3=PE11, EXP1_4=PE12,
    EXP1_5=PE13, EXP1_6=PE14,    # Slot in the socket on this side
    EXP1_7=PE15, EXP1_8=PB10,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14, EXP2_2=PB13,
    EXP2_3=PF7, EXP2_4=PB12,
    EXP2_5=PE7, EXP2_6=PB11,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[bltouch]
#sensor_pin: PB2
#control_pin: PB1

# Proximity switch
#[probe]
#pin: PF6

#[output_pin ps_on_pin]
#pin: PC3

#[neopixel my_neopixel_1]
#pin: PC6

#[neopixel my_neopixel_2]
#pin: PA9

#[hall_filament_width_sensor]
#adc1: PC5
#adc2: PB0



#####################################################################################
#------------------------------------MACROS-----------------------------------------#
#####################################################################################
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 5.0) %}
      {% set z_safe = 5.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: "Cancel the running print"
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  M220 S100 ;Reset Speed factor override percentage to default (100%)
  M221 S100 ;Reset Extrude factor override percentage to default (100%)
  SAFE_RETRACT
  SAFE_PARK
  M106 S0 ;disable fan
  CANCEL_PRINT_BASE